@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');

$blue: #86D3F4;
//#define BLACK #000000
//#define GRAY #565656
//#define RED #EA0000

.App {
    max-width: 1280px;
    max-height: 720px;
}

h1, h2, p {
    margin-block-start: 0;
    margin-block-end: 0;
}