@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');

.App {
    max-width: 1280px;
    max-height: 720px;
}

h1, h2, p {
    margin-block-start: 0;
    margin-block-end: 0;
}